---
import { Image } from "astro:assets";
import galle1 from "../assets/images/galle1.webp";
import galle2 from "../assets/images/galle2.webp";
import galle3 from "../assets/images/galle3.webp";
import galle4 from "../assets/images/galle4.webp";
import galle5 from "../assets/images/galle5.webp";
import galle6 from "../assets/images/galle6.webp";
---

<section>
  <div>
    <div class="grid lg:grid-cols-3 gap-10">
      <div>
        <img
          src="tape.webp"
          alt="Tape"
          class="absolute -mt-6 -translate-x-1/2 w-40 rotate-[352deg] z-10 left-65"
        />
        <Image
          src={galle1}
          alt="galleri 1"
          class="w- border-2 border-darkblue rounded-2xl place-self-center"
        />
      </div>
      <div>
        <img
          src="tape.webp"
          alt="Tape"
          class="absolute -mt-6 -translate-x-1/2 w-40 rotate-[352deg] z-10 lg:left-180 left-65"
        />
        <Image
          src={galle2}
          alt="galleri 2"
          class="lg:w-97 w-100 border-2 border-darkblue rounded-2xl place-self-center"
        />
      </div>
      <div>
        <img
          src="tape.webp"
          alt="Tape"
          class="absolute -mt-6 -translate-x-1/2 w-40 rotate-[352deg] z-10 lg:left-290 left-65"
        />
        <Image
          src={galle3}
          alt="galleri 3"
          class="w-100 border-2 border-darkblue rounded-2xl place-self-center"
        />
      </div>
      <div>
        <img
          src="tape.webp"
          alt="Tape"
          class="absolute -mt-6 -translate-x-1/2 w-40 rotate-[352deg] z-10 left-65"
        />
        <Image
          src={galle4}
          alt="galleri 4"
          class="w-100 border-2 border-darkblue rounded-2xl place-self-center"
        />
      </div>
      <div>
        <img
          src="tape.webp"
          alt="Tape"
          class="absolute -mt-6 -translate-x-1/2 w-40 rotate-[352deg] z-10 lg:left-180 left-65"
        />
        <Image
          src={galle5}
          alt="galleri 5"
          class="lg:w-97 w-100 border-2 border-darkblue rounded-2xl place-self-center"
        />
      </div>
      <div>
        <img
          src="tape.webp"
          alt="Tape"
          class="absolute -mt-6 -translate-x-1/2 w-40 rotate-[352deg] z-10 lg:left-290 left-65"
        />
        <Image
          src={galle6}
          alt="galleri 6"
          class="lg:w-98 w-100 border-2 border-darkblue rounded-2xl place-self-center"
        />
      </div>
    </div>
    <div>
      <img
        src="instagram.svg"
        alt="Tape"
        class="absolute mt-15 lg:w-15 w-15 lg:left-155 left-42"
      />
      <img
        src="facebook.svg"
        alt="Tape"
        class="absolute mt-15 lg:w-15 w-15 lg:right-160 right-42"
      />
    </div>
  </div>
</section>
