---
const {
    url = "#",
    cardimage = "",
    cardimagealt = "",
    cardtitle = "",
    cardscene = "",
    cardkategori = "",
    cardtidspunkt = "",
    carddato = "",
} = Astro.props;
import Link from "./Link.astro";
---

<!-- Outer container -->
<div
    class="relative cursor-pointer p-4 w-full max-w-xs md:max-w-3xl mx-auto border-2 border-darkblue rounded-lg bg-center bg-no-repeat bg-cover flex flex-col md:flex-row"
    style="background-image: url('paperlong.webp');"
>
    <!-- Tape: top-left -->
    <img
        src="tape.webp"
        alt="Tape"
        class="absolute -top-2 -left-8 w-30 rotate-330 z-20"
    />
    <!-- Tape: bottom-right -->
    <img
        src="tape.webp"
        alt="Tape"
        class="absolute -bottom-2 -right-8 w-30 rotate-315 z-20"
    />

    <!-- Image section -->

    <div class="relative w-full max-w-sm p-8 flex justify-center">
        <div
            class="relative rounded-lg overflow-hidden border-2 border-darkblue w-full h-70"
        >
            <img
                src={cardimage}
                alt={cardimagealt}
                class="w-full h-full object-cover"
            />
        </div>
    </div>

    <!-- Text section -->
    <div
        class="flex-1 px-4 pb-4 md:pt-6 md:pr-4 flex flex-col justify-start text-center md:text-left"
    >
        <h2 class="font-bold text-darkblue">
            {cardtitle}
        </h2>
        <h3 class="text-darkblue uppercase mb-1">
            {cardscene}
        </h3>
        <h3 class="text-darkblue md:mb-35">
            Kategori: {cardkategori}
        </h3>
        <h3 class="text-darkblue">
            {carddato} // KL {cardtidspunkt}
        </h3>
    </div>

    <!-- Vertical year -->
    <div
        class="absolute hidden right-1 bottom-40 md:flex items-center justify-end md:justify-center z-10"
    >
        <p class="text-darkblue text-lg md:text-3xl font-bold md:rotate-90">
            2025
        </p>
    </div>
</div>
